//----------------------------- 尺寸 -----------------------------
$SIDEBAROPENW: 230px;
$SIDEBARCLOSEW: 50px;

$HEADERH: 50px;
$FOOTERH: 50px;


//----------------------------- RWD 斷點 -----------------------------
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;

//----------------------------- 顏色 -----------------------------
$COLOR-Dark: #282b30;
$COLOR-WHITE: #FFF;
$COLOR-GRAY: #777;

$COLOR-MAIN: #3c8dbc;
$COLOR-MAIN2: #64d9d6;

$SIDEBAR-BG: #222d32;
$SIDEBAR-MENU-HEADER-TXT: #4b646f;
$SIDEBAR-MENU-HEADER-BG: #1a2226;
$SIDEBAR-MENU-LINK-TXT: #b8c7ce;
$SIDEBAR-MENU-HOVER-BG: #1e282c;

$CONTENT-BG: #ecf0f5;

$FOOTER-TXT: #444;
$FOOTER-BORDER: #d2d6de;

$BTN-BORDER: #1b1f2326;
